<p>
	<a href="/about" target="_blank">
		<button type="button" class="btn btn-default">About</button>
	</a>
</p>


<h1>{{title}}</h1>

<hr>
<br>


<pre>
let connectionString = {
    "userName": 	process.env.databaseUser ,
    "password": 	process.env.databaseSecret,
    "server": 		process.env.serverName : <span class="badge badge-success"> {{serverName}} </span> ,
    "options": {
      "database": 	process.env.databaseName : <span class="badge badge-success"> {{databaseName}} </span> ,
      "encrypt": 	process.env.encryption   : <span class="badge badge-success"> {{encryption}} </span>
    }
}
</pre>
<hr>

<br>
<br>

<p>
	<h2>v1: Using SQLServer <mark>Tables</mark>:</h2>
	<a href="/product/version1?count=5" target="_blank">/product/version1?count=5</a>
</p>

<br>
<br>
<p>
	<h2>v2: Using SQLServer <mark>Views</mark>:</h2>
	<a href="/product/version2" target="_blank">/product/version2 </a>
</p>
<br>
<br>

<p>
	<h2>v3: Using SQLServer <mark>Stored Procedures</mark>:</h2>
	<a href="/product/version3" target="_blank">/product/version3 </a> <br>
	<a href="/product/version3/color/black" target="_blank">/product/version3/color/black </a> <br>
	<a href="/product/version3/color/silver" target="_blank">/product/version3/color/silver </a> <br>
	<a href="/product/version3/color/red" target="_blank">/product/version3/color/red </a> <br>

</p>



<p>
	<h2>Weather:</h2>
	<a href="/weather" target="_blank">/weather </a> <br>
</p>

<br>
<br>
